body {
    margin: 0; padding: 0;
    background-color: #fce4ec;
    font-family: 'Fredoka', sans-serif;
    overflow: hidden; 
    display: flex; justify-content: center; align-items: center;
    height: 100vh; touch-action: none; user-select: none;
}

canvas {
    background: linear-gradient(to bottom, #81d4fa, #e1f5fe);
    border: 4px solid #880e4f;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-width: 100%; max-height: 100vh;
    display: block;
}

.overlay {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
    background: rgba(252, 228, 236, 0.98); 
    z-index: 20; transition: opacity 0.5s;
}
.hidden { opacity: 0; pointer-events: none; z-index: -1; }
.center-content { text-align: center; }

h1 { color: #880e4f; font-size: 2rem; margin: 0 0 10px 0; text-align: center; }
p { color: #d81b60; font-size: 1.1rem; font-weight: bold; margin-bottom: 20px; text-align: center; padding: 0 20px;}

/* Botones */
button {
    background: #d81b60; color: white; border: none;
    padding: 20px 50px; font-size: 1.5rem; border-radius: 50px;
    cursor: pointer; box-shadow: 0 6px 0 #ad1457;
    font-family: 'Fredoka', sans-serif; font-weight: bold;
    touch-action: manipulation;
}
button:active { transform: translateY(4px); box-shadow: 0 2px 0 #ad1457; }

/* Imágenes */
.start-img { width: 150px; border-radius: 15px; margin-bottom: 20px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
.hug-sticker { width: 250px; height: auto; filter: drop-shadow(0 10px 15px rgba(0,0,0,0.2)); margin-bottom: 20px; }

/* Caja de Carta */
.letter-box {
    background: white; padding: 20px; border-radius: 20px; border: 3px solid #f8bbd0;
    max-width: 85%; margin: 0 auto; box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.letter-box h2 { color: #d81b60; margin: 0; }
.letter-box p { font-size: 0.9rem; color: #555; }

/* Animación Entrada */
.hug-container { position: relative; text-align: center; animation: popIn 0.8s; }
@keyframes popIn { 0% { transform: scale(0); } 100% { transform: scale(1); } }

#achievement-gif {
    position: fixed; top: 10px; left: 50%; transform: translateX(-50%); 
    z-index: 9999; width: 350px; max-width: 90%; display: none;
}
